h1 {
	color: #737373;
}

.container {
	width: 1000px;
}

#checker-container {
	margin: 0 auto;
	width: 700px;
}

#login-container {
	margin: 0 auto;
	width: 400px;
}

.table select, .table input {
	width: 100%;
}